node-red/flow.txt
[{"id":"3a5bc974.0b0b96","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83fd91de.7a6b1","type":"mqtt in","z":"3a5bc974.0b0b96","name":"","topic":"tomocon/devices/telemetry","qos":"0","broker":"e4f553af.283a9","x":190,"y":220,"wires":[["bb32f410.20d258","c12a3b2e.0a3b98"]]},{"id":"bb32f410.20d258","type":"json","z":"3a5bc974.0b0b96","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["38d02f9d.4f40d","25f75198.d0f07e","bb30bd95.b47b9"]]},{"id":"c12a3b2e.0a3b98","type":"cloudant out","z":"3a5bc974.0b0b96","name":"","cloudant":"","database":"tomocon","service":"tomokon-demo-cloudantNoSQLDB","payonly":false,"operation":"insert","x":440,"y":100,"wires":[]},{"id":"6fa5ce3a.8cab3","type":"ui_chart","z":"3a5bc974.0b0b96","name":"","group":"3d37e5ae.a1adba","order":0,"width":"12","height":"6","label":"Temperature [C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":904.1666870117188,"y":310.8333435058594,"wires":[[],[]]},{"id":"de0e1030.7e41c","type":"ui_chart","z":"3a5bc974.0b0b96","name":"","group":"4c05b494.c704ac","order":0,"width":"12","height":"6","label":"Humidity [%]","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":893,"y":384.8332824707031,"wires":[[],[]]},{"id":"38d02f9d.4f40d","type":"debug","z":"3a5bc974.0b0b96","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":895.3333129882812,"y":116.3333511352539,"wires":[]},{"id":"25f75198.d0f07e","type":"change","z":"3a5bc974.0b0b96","name":"Temp.","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":653.4999694824219,"y":310.0000305175781,"wires":[["6fa5ce3a.8cab3"]]},{"id":"bb30bd95.b47b9","type":"change","z":"3a5bc974.0b0b96","name":"Humid","rules":[{"t":"move","p":"payload.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":653.6666870117188,"y":385,"wires":[["de0e1030.7e41c"]]},{"id":"e4f553af.283a9","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d37e5ae.a1adba","type":"ui_group","z":"","name":"Temperature","tab":"23b7d31c.6bb38c","order":1,"disp":true,"width":"12","collapse":false},{"id":"4c05b494.c704ac","type":"ui_group","z":"","name":"Humidity","tab":"23b7d31c.6bb38c","order":2,"disp":true,"width":"12","collapse":false},{"id":"23b7d31c.6bb38c","type":"ui_tab","z":"","name":"Telemetry","icon":"dashboard","order":1}]